<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Client</title>
  </head>
  <body>
    <div id="#wrapper">
      <h1> Add Client </h1>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <small><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></small>
          {% endfor %}
        </ul>
        {% endif %}
      <form action="{% url 'add_client' %}" method="post">
        {% csrf_token %}
        <label for="name">Business Name: <input type="text" name="name" placeholder="Enter Business Name..."></label><br>
        <label for="email">Email: <input type="text" name="email" placeholder="Enter contact email..."></label><br>
        <label for="phone">Phone: <input type="text" name="phone" placeholder="(xxx)xxx-xxxx...# format"></label><br>
        <label for="notes">Notes: <br><textarea name="notes" rows="8" cols="80"></textarea></label><br>
        <input type="submit" value="Add Client">
      </form><br>

      <!-- <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <input type="submit" value="Cancel">
      </form> -->

      <button><a style="text-decoration:none; color:black;" href="{% url 'index' %}">Cancel</a></button>




    </div>
  </body>
</html>
